<header>
    <nav class="navbar navbar-expand-md fixed-top x-navbar" style="background-color: whitesmoke;" >
        <div class="container">
            <a class="navbar-brand" href="#">
                <div class="logo container">
                    <div class="row">
                        <div class="col-12">
                            <!-- <img  src="./assets/images/logo-origional.jpg" class="animated bounce infinite"alt="Transparent MDB Logo" id="animated-img1"> -->
                            <h3 style="color:black;" >Tuition Bell</h3>
                        </div>
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class=" navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                 <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Dropdown link
                    </a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
            </ul>
        </div>    
    </nav>
</header>

<div [style.background-image]="'url(http://localhost:4200/assets/images/bg1.jpg)'">
<div [ngStyle]="{'color':'whitesmoke', 'padding':'5%'}" class="container">
    <div class="row" style="width: auto; height: 50px;">
        placeholder
    </div>
    <div class="row">
        <div class="card" style="background-color: #0a0a004f; color: whitesmoke;">
            <div class="card-body">
                <div class="card-title" [ngStyle]="{'text-align':'center'}">
                    <h5>Home</h5>
                </div>
                <div class="card-text col-lg-12 col-md-12 col-sm-12">
        <div class="" ></div>
            <br>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
                <br>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
                <br>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
        </div>
    </div>
</div>
</div>