<!-- Footer -->
<footer class="page-footer font-small bg-aqua pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Address</h5><hr>
          <p> 1234 Street Name </p>
          <p> City, AA 99999</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contacts</h5>
  
          <ul class="list-unstyled">
            <li>
              <span>Email:</span>
              <a href="#!"> support@mobirise.com</a>
            </li>
            <li>
              <span>Phone:</span>
              <a href="#!"> (+91) 000 0000 001</a>
            </li>
            <li>
              <span>Fax:</span>
              <a href="#!"> (+91) 000 0000 001</a>
            </li>
            <!-- <li>
              <a href="#!">Link 4</a>
            </li> -->
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Website builder</a>
            </li>
            <li>
              <a href="#!">Download for Windows</a>
            </li>
            <li>
              <a href="#!">Download for Mac</a>
            </li>
            <li>
              <a href="#!">Download the App</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://droona.com/">droona.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->