
<div class="container-fluid" [ngStyle]="{'padding':'5%', 'border':'black 1px'}" 
[style.background-image]="'url(http://localhost:4200/assets/images/bg1.jpg)'">
    <div class="row" >
        <div class="col-12" [ngStyle]="{'text-align':'center', 'padding':'3%'}">
                <h4 style=" color: whitesmoke;">Services</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 ">
            <div class="card" style="background-color: #0a0a004f; color: whitesmoke;">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Streaming</h5>
                    </div>
                    <div class="card-text">
                        <p>Streaming capabilities from various sources including IIOT sensors, Mobile applications and
                            High end backends
                        <br>Out of the box ability to view live data on real-time charts
                        <br>Wide range of streaming plugins avalaible
                        <br>Capable of learning patterns and forecast behaviour of a stream on the fly.
                        </p>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="card" style="background-color: #0a0a004f; color: whitesmoke;">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Descriptive Analytics</h5>
                    </div>
                    <div class="card-text">
                        <p>Create quick and simple dashboards on the fly
                            <br>Various charts and widgets supported out of the box
                            <br>Drill down / Drill up capabilities
                            <br>Global and widget specific slices allowed
                            <br>Create custom formulas on the fly
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="card" style="background-color: #0a0a004f; color: whitesmoke;">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Descriptive Analytics</h5>
                    </div>
                    <div class="card-text">
                        <p>Time Series analysis is treated as a specific case here
                            <br>Time series decomposition and forecasting methods
                            <br>Intense use of Machine Learning algoritms to predict future values with high accuracy
                            <br>Customizable algorithm parameters for experts
                            <br>Ability to upload and support exogenous variables
                            </p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    </div>
