<div id="frequently-question"  [ngStyle]="{'padding':'3%'}">
    <!-- [style.background-image]="'url(http://localhost:4200/assets/images/bg12.png)'" -->
    <div class="container card">
      <div class="card-body">
        <div class="row card-title">
            <div class="col-12" [ngStyle]="{'text-align':'center', 'padding':'1%'}">
                    <h4>Frequently Asked Questions</h4>
            </div>
        </div>
        <div class="row card-text" [ngStyle]="{'padding-bottom':'2%'}">
            <div class="left-text col-sm-6" >
               <span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS. i cant hear u<br><br>
               </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" >
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="static-1" title="Simple">
                        <ng-template ngbPanelHeader >
                            <button ngbPanelToggle class="btn stretched-link"> What would you like to ask as Question 1 ?</button>
                        </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS. i cant hear u
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title="Simple" >
                        <ng-template ngbPanelHeader >
                            <button ngbPanelToggle class="btn stretched-link ">Is it possible for human to fly?</button>
                        </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" title="Simple" >
                        <ng-template ngbPanelHeader >
                            <button ngbPanelToggle class="btn stretched-link ">Can we live in outer space without ageing?</button>
                        </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
      </div>
    </div>
</div>
